

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
   
</head>
<body>

    {% extends 'home/temp.html' %}

    {% block content %}
    
  

    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Team</li>
        <li>Contact</li>
    </ul>

<form action="add">

    <p>Enter 1st number: <input type="text", name="num1"><br></p>
    Enter 2nd number: <input type="text", name="num2"><br>
    <input type="submit"><br>
    NB:The code wont run if you leave a field blank or you input any character other than a number
</form> 


    <h1>{{name}}</h1>

    <p style="font-family:'Tahoma'">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin Fowler</p>
    <p style="font-family:'Tahoma'">“First, solve the problem. Then, write the code.” – John Johnson</p>
    <p style="font-family:'Tahoma'">“Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday’s code.” – Dan Salomon</p>
    <p style="font-family:'Tahoma'">“Before software can be reusable it first has to be usable.” – Ralph Johnson</p>
    <p style="font-family:'Tahoma'">“Optimism is an occupational hazard of programming: feedback is the treatment. “ Kent Beck</p>
    <p style="font-family:'Tahoma'">“When to use iterative development? You should use iterative development only on projects that you want to succeed.” – Martin Fowler</p>
    <p style="font-family:'Tahoma'">“Simplicity is the soul of efficiency.” – Austin Freeman</p>
    <p style="font-family:'Tahoma'">“Fix the cause, not the symptom.” – Steve Maguire</p>
    <p style="font-family:'Tahoma'">“Code is like humor. When you have to explain it, it’s bad.” – Cory House</p>
    <p style="font-family:'Tahoma'">“Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away.” – Antoine de Saint-Exupery</p>
    <p style="font-family:'Tahoma'">“Experience is the name everyone gives to their mistakes.” – Oscar Wilde</p>
    
    {% endblock %}
</body>
</html>