<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don't shout</title>
</head>
<body bgcolor="lime">

    {% block content %}

    {% endblock %}

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit non, tempore, vel nulla officiis harum totam omnis rem aspernatur voluptatem voluptate magni beatae quos necessitatibus rerum neque ab doloribus dolore. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio ducimus excepturi consequuntur error aspernatur ipsum porro quisquam eveniet iste explicabo, debitis earum necessitatibus quod repellat ea autem laboriosam maxime alias!
    </p>
    <br \>  

</body>
</html>